{% extends 'base3.html' %}

{% block content %}
    <h1>Publications</h1>
    <p><a href={% url 'upload:add_publication' %}><button type="button" class="btn btn-outline-primary">Add publication</button></a></p>

    <div class="paginatior">

        {% if items.has_previous %}
            <a class="pagination-action" href="?page=1">
              <i class="fas fa-angle-double-left"></i>
            </a>
            <a class="pagination-action" href="?page={{ items.previous_page_number }}">
              <i class="fas fa-angle-left"></i>
            </a>
       {% endif %}

      {% for num in items.paginator.page_range %}
        {% if items.number == num %}
          <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > items.number|add:'-3' and num < items.number|add:'3' %}
          <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if items.has_next %}

            <a class="pagination-action" href="?page={{ items.next_page_number }}">
              <i class="fas fa-angle-right"></i>
            </a>
            <a class="pagination-action" href="?page={{ items.paginator.num_pages }}">
              <i class="fas fa-angle-double-right"></i>
            </a>

      {% endif %}

    </div>

<table class = "table">
    <thead>
     <tr>
         <th>ID</th>
         <th>Title</th>
         <th>ISSN</th>
     </tr>
    </thead>

    <tbody>

     {% for item in items %}
     <tr>
         <td>{{ item.pk }}</td>

         <td>{{ item.Title }}</td>
         <td><a href="{{ item.get_absolute_url }}"><button type="button" class="btn btn-outline-success">{{ item.Issn }}</button></a></td>
         <td><a href="{% url 'upload:delete_publication' item.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
     </tr>
     {% endfor %}


    </tbody>

</table>





{% endblock %}
